In [1]:
#importing the labraries
import numpy as np
import pandas as pd

In [2]:
#View the dataset
df2=pd.DataFrame({"names":['vineet','hisham','raj','ajeet','sujit','ramesh','priya','priyanka','suresh','ritesh','hitesh','jatin','chitesh','suman','raman','aman','ravi','shravi','chavvi','himanshu'],"rno":['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']})
df3=pd.DataFrame({"results":['fail','fail','pass','pass','fail','pass','fail','pass','pass','pass','pass','fail','fail','fail','pass','fail','pass','fail','pass','pass'],"rno":['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']})
print(df2)
print(df3)

       names rno
0     vineet   1
1     hisham   2
2        raj   3
3      ajeet   4
4      sujit   5
5     ramesh   6
6      priya   7
7   priyanka   8
8     suresh   9
9     ritesh  10
10    hitesh  11
11     jatin  12
12   chitesh  13
13     suman  14
14     raman  15
15      aman  16
16      ravi  17
17    shravi  18
18    chavvi  19
19  himanshu  20
   results rno
0     fail   1
1     fail   2
2     pass   3
3     pass   4
4     fail   5
5     pass   6
6     fail   7
7     pass   8
8     pass   9
9     pass  10
10    pass  11
11    fail  12
12    fail  13
13    fail  14
14    pass  15
15    fail  16
16    pass  17
17    fail  18
18    pass  19
19    pass  20

In [10]:
#Analyse the given datasets and print the student names who have successfully cleared the exam
x=pd.merge(df2,df3,how='inner')
passed_std=x[x['results']=='pass']
print(passed_std)

       names rno results
2        raj   3    pass
3      ajeet   4    pass
5     ramesh   6    pass
7   priyanka   8    pass
8     suresh   9    pass
9     ritesh  10    pass
10    hitesh  11    pass
14     raman  15    pass
16      ravi  17    pass
18    chavvi  19    pass
19  himanshu  20    pass

In [18]:
#Count Number Of Students(Pass/Fail)
passed_std=x[x['results']=='pass']
failed_std=x[x['results']=='fail']
passed_std.count
failed_std.count
print(passed_std.count)
print(failed_std.count)

<bound method DataFrame.count of        names rno results
2        raj   3    pass
3      ajeet   4    pass
5     ramesh   6    pass
7   priyanka   8    pass
8     suresh   9    pass
9     ritesh  10    pass
10    hitesh  11    pass
14     raman  15    pass
16      ravi  17    pass
18    chavvi  19    pass
19  himanshu  20    pass>
<bound method DataFrame.count of       names rno results
0    vineet   1    fail
1    hisham   2    fail
4     sujit   5    fail
6     priya   7    fail
11    jatin  12    fail
12  chitesh  13    fail
13    suman  14    fail
15     aman  16    fail
17   shravi  18    fail>

In [21]:
#Arrange Student Names Apla Based
sorted = x.sort_values(by='names')
sorted

       names rno results
3      ajeet   4    pass
15      aman  16    fail
18    chavvi  19    pass
12   chitesh  13    fail
19  himanshu  20    pass
1     hisham   2    fail
10    hitesh  11    pass
11     jatin  12    fail
6      priya   7    fail
7   priyanka   8    pass
2        raj   3    pass
14     raman  15    pass
5     ramesh   6    pass
16      ravi  17    pass
9     ritesh  10    pass
17    shravi  18    fail
4      sujit   5    fail
13     suman  14    fail
8     suresh   9    pass
0     vineet   1    fail